ul.languages-list
  - each language in languages
    - var activeClass = language.id == activeLanguage ? 'active' : ''
    li(
      data-language= language.id
      class= "flag flag-icon-background flag-icon-#{language.abbr} #{activeClass}"
    )
