.flag-icon-background
  background-size contain
  background-position 50%
  background-repeat no-repeat

.flag-icon-au
  background-image url('/styles/img/flags/au.svg')

.flag-icon-de
  background-image url('/styles/img/flags/de.svg')

.flag-icon-fr
  background-image url('/styles/img/flags/fr.svg')

.flag-icon-gb
  background-image url('/styles/img/flags/gb.svg')

.flag-icon-in
  background-image url('/styles/img/flags/in.svg')

.flag-icon-it
  background-image url('/styles/img/flags/it.svg')

.flag-icon-us
  background-image url('/styles/img/flags/us.svg')
