//@import url ("~flag-icon-css/css/flag-icon.css")
//@import 'flag-icon-css/css/flag-icon.css'

.menu
  li.flag
    border 3px solid #f2f2f2
    width 20px
    height 15px

    &.active
      border-color #777
