html
  head
  body

    nav#top-menu.menu

    main.main-container
      #notification
      #articles.articles-container

    footer
      span Powered by
      a(href="https://newsapi.org") NewsAPI
