@import "~flag-icon-css/css/flag-icon.css";
body
  font-family: sans-serif
  color: #343434
  background-color: #f2f2f2

.menu
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -ms-flex-pack: justify
  justify-content: space-between
  align-items: center
  padding: 3px 7px
  font-size: 1.2em

.menu ul
  padding: 0
  margin: 0
  display: -ms-flexbox
  display: flex
  -ms-flex-pack: justify
  justify-content: space-between

.menu li
  cursor: pointer
  list-style-type: none
  display: block
  padding: 3px 7px
  margin: 3px 5px
  border-radius: 3px

.menu li.active
  background-color: #777
  color: #d1d1d1

.menu li.flag
  border: 3px solid #f2f2f2
  width: 20px
  height: 15px

.menu li.flag.active
  border-color: #777

.main-container
  margin-top: 40px

.articles-container
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.article-container
  width: 400px
  margin: 20px 15px

.article-container .header a
  text-decoration: none
  font-weight: bold
  font-size: 1.4em
  color: #343434

.article-container .footer
  margin-top: 15px
  float: right
  color: #848484
  font-size: 0.8em

.article-container .no-image
  background-image: url(/images/no-image.png)
  
.article-container .image img
  width: 100%
