.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-au {
  background-image: url(flags/au.svg);
}
.flag-icon-de {
  background-image: url(flags/de.svg);
}
.flag-icon-fr {
  background-image: url(flags/fr.svg);
}
.flag-icon-gb {
  background-image: url(flags/gb.svg);
}
.flag-icon-in {
  background-image: url(flags/in.svg);
}
.flag-icon-it {
  background-image: url(flags/it.svg);
}
.flag-icon-us {
  background-image: url(flags/us.svg);
}
