.menu
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  -ms-flex-pack justify
  justify-content space-between
  align-items center
  padding 3px 7px
  font-size 1.2em

  ul
    padding 0
    margin 0
    display -ms-flexbox
    display flex
    -ms-flex-pack justify
    justify-content space-between

  li
    cursor pointer
    list-style-type none
    display block
    padding 3px 7px
    margin 3px 5px
    border-radius 3px

    &.active
      background-color #777
      color #d1d1d1
